<div class="login-container">
  <div class="login-card">
    <div class="header">
      <img src="gestion-logo.png" class="logo-login" alt="Logo" />
      <p>Acceso Administrativo</p>
    </div>

    <form (submit)="onLogin()">
      <div class="form-group">
        <label>Usuario</label>
        <input type="text" [(ngModel)]="user" name="user" required placeholder="admin">
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="pass" name="pass" required placeholder="admin123">
      </div>

      <button type="submit" class="btn-login">Ingresar al Sistema</button>
      <p *ngIf="error" class="error-msg">Credenciales inválidas, intente de nuevo.</p>
    </form>
  </div>
</div>
